<ion-navbar *navbar>
  <ion-title>Gitub</ion-title>
</ion-navbar>

<ion-content class="home">
 <ion-list insert>
   <ion-item>
     <ion-label>Escribir nombre de usuario</ion-label>
     <ion-input [(ngModel)]="username" text></ion-input>
   </ion-item>
 </ion-list>
 <div padding>
   <button block (click)="getRepos()">Buscar</button>
 </div>
 <ion-card *ngFor="let repo of foundRepos" (click)="goToDetails(repo)">
   <ion-card-header>{{ repo.name }}</ion-card-header>
   <ion-card-content>{{ repo.description }}</ion-card-content>
 </ion-card>
</ion-content>
